.ContainerRegister {
  background-color: #dae8d0;
  width: 90%;
  max-width: 550px;
  border-radius: 3rem;
  text-align: center;
  font-size: small;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.formRegister {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

input::placeholder {
  font-size: small;
  color: #888;
}

textarea::placeholder {
  font-size: medium;
  color: #888;
}

@media (min-width: 768px) {
  .formRegister {
    font-size: large;
    display: flex;
    justify-content: center;
    font-size: small;
  }
}
