html,
body {
  height: 100%;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr 10vh;
  height: 100vh;
}

.main-content {
  padding-top: 2px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .app-container {
    grid-template-rows: auto 1fr 10vh;
  }
}

@media (min-width: 769px) {
  .app-container {
    grid-template-rows: auto 1fr 10vh;
  }
}
